main {
  background: url(../images/bg.op1.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  padding: 100px;
  height: 100vh;
}
main h1 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 400px;
}
main h1 span {
  font-size: 4.5rem;
  color: #faa5a5;
  font-weight: 600;
  line-height: 1.3;
}
main p {
  font-size: 1.5rem;
}
main .right_btn {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  right: 50px;
  bottom: 100px;
}
main .right_btn a {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid #faa5a5;
  border-radius: 50px;
  text-align: center;
  padding-top:16px;
}

/* --------------------------profile---------------------------------- */
.profile {
  width: 100%;
  height: 100vh;
  padding: 50px 80px;
}
.profile h1 {
  font-size: 4.5rem;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.profile h1::after {
  display: inline-block;
  width: 220px;
  height: 35px;
  content: "";
  background-color: #faa5a5;
  border-radius: 50%;
  position: relative;
  left: -220px;
  top: 20px;
  opacity: 0.5;
  z-index: -1;
}
.profile .p_container {
  padding: 50px;
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.profile .p_container img {
  width: 400px;
  height: 370px;
  margin-top:50px;
}
.profile .p_container .container_r {
  margin-left: 50px;
  padding-top: 20px;
}
.profile .p_container .container_r .r_top {
  padding: 15px;
  display: flex;
  align-items: center;
}
.profile .p_container .container_r .r_top h2 {
  font-size: 2rem;
}
.profile .p_container .container_r .r_top h2::after {
  display: inline-block;
  width: 160px;
  height: 25px;
  content: "";
  background-color: #faa5a5;
  border-radius: 50%;
  position: relative;
  left: 0px;
  top: -15px;
  opacity: 0.5;
  z-index: -1;
}
.profile .p_container .container_r .r_top p {
  width: 200px;
  margin: 0 15px;
  font-size: 1.25rem;
}
/* ----------------------------bar------------------------------- */
.profile .p_container .container_r .r_bt {
  display: flex;
  padding: 15px;
  margin-top: 20px;
}
.profile .p_container .container_r .r_bt h2 {
  font-size: 2rem;
}
.profile .p_container .container_r .r_bt h2::after {
  display: inline-block;
  width: 70px;
  height: 20px;
  content: "";
  background-color: #faa5a5;
  border-radius: 50%;
  position: relative;
  left: -70px;
  top: 10px;
  opacity: 0.5;
  z-index: -1;
}
.profile .p_container .container_r .r_bt .tool {
  margin-left: 130px;
  width:500px;
}
.profile .p_container .container_r .r_bt .tool p {
  padding: 10px; 
  width: 200px;
  font-size: 1.25rem;
}
.profile .p_container .container_r .r_bt .tool .box {
  display: flex;
  align-items: center;
}
/* -------------------------------통합 bar--------------------------------- */
.profile .p_container .container_r .r_bt .tool .box .skill {
  width: 260px;
  height: 5px;
  background: #414141;
  border-radius: 20px;
}
/* -------------------------------개별 bar--------------------------------- */
.profile .p_container .container_r .r_bt .tool .box .bar1 {
  width: 240px;
  height: 5px;
  background: #414141;
  border-radius: 20px;
}
.profile .p_container .container_r .r_bt .tool .box .bar2 {
  width: 260px;
  height: 5px;
  background: #414141;
  border-radius: 20px;
}
.profile .p_container .container_r .r_bt .tool .box .bar3 {
  width: 200px;
  height: 5px;
  background: #414141;
  border-radius: 20px;
}
.profile .p_container .container_r .r_bt .tool .box .bar4 {
  width: 240px;
  height: 5px;
  background: #414141;
  border-radius: 20px;
}
.profile .p_container .container_r .r_bt .tool .box .bar5 {
  width: 200px;
  height: 5px;
  background: #414141;
  border-radius: 20px;
}
.profile .p_container .container_r .r_bt .tool .box .bar6 {
  width: 220px;
  height: 5px;
  background: #414141;
  border-radius: 20px;
}
.profile .p_container .container_r .r_bt .tool .box .bar7 {
  width: 220px;
  height: 5px;
  background: #414141;
  border-radius: 20px;
}
/* -----------------------profile_bt------------------------------- */
.profile .text {
  width:1200px;
  margin:0 auto;
  padding-left:50px;
}
.profile .text h2 {
  font-size: 3rem;
  padding:20px 0;
}
.profile .text h2::after {
  display: inline-block;
  width: 250px;
  height: 20px;
  content: "";
  background-color: #faa5a5;
  border-radius: 50%;
  position: relative;
  left: -240px;
  top: 15px;
  opacity: 0.5;
  z-index: -1;
}
.profile .text p {
  font-size: 1.15rem;
  line-height: 1.5em;
  padding-top:20px;
}
/* ---------------------------------web-------------------------- */
.web {
  /* background: cyan; */
  width:100%;
  height:100vh;
  padding:50px 80px;
}
.web h1 {
  font-size: 4.5rem;
  letter-spacing: 0.05em;
  font-weight: 500;
}
.web h1::after {
  display: inline-block;
  width:150px;
  height:30px;
  content: "";
  background-color: #faa5a5;
  border-radius: 50%;
  position: relative;
  left: -150px;
  top: 15px;
  opacity: 0.5;
  z-index: -1;
}
.web .web_container {
  width:1400px;
  margin:0 auto;
  padding-top:100px;
  display:flex;
}
.web .web_container_l {
}
.web .web_container_l img {
  width:100%;
}
.web .web_container_r {
  padding-top:180px;
}
.web .web_container_r_top {}
.web .web_container_r_top .r_l {
  width:500px;
}
.web .web_container_r_top .r_l p {
  margin:10px 0;
  text-align: center;
  font-size:1.4rem;
  letter-spacing:0.02em;
}
.web .web_container_r_top .web_container_r_bt {
  text-align: center;
  margin-top:40px;
}
.web .web_container_r_top .web_container_r_bt a {
  margin-right:10px; 
  border:1px solid #000;
  padding:5px;
  font-size:1.2rem;
}
.web .web_container_r_top .web_container_r_bt a:last-child {
  margin:0;
}